/* Estilização da pagina  */
body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./imagens/images.jpg)
}
/* Estilização do conteúdo do cabeçalho */
header{
    color: rgb(226, 204, 204);
    padding: 20px;
    text-align: center;
    background-size: 460px;
    font-family: 'Righteous', cursive;
}
/* Estiizaçao de conteúdo do corpo da página */
main{
    background-image: url(./imagens/imgMeio.jpg);
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    font-family: 'Righteous', cursive;
}
/* Estas três seguintes são a Estilização de cores da palavras, fonte e a coloração da caixas de texto */
p, label{
    color:rgb(226, 204, 204) ;
}
.corPalavra, .resultado{
    color:rgb(226, 204, 204) ;
}
select, input, button{
    color: rgb(226, 204, 204);
    background: transparent;
    border-radius: 6px;
    font-family: 'Righteous', cursive;
}
/* Estilização do botão de converter */
.botao{
    height: 30px;
    border-radius: 6px;
    margin: 1px;
    background: transparent;
  }
  /* Alteração do botão ao passar o mouse por cima dele */
  .botao:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
/* Estilizaçao do rodapé da página */
footer{
    color: antiquewhite;
    position: fixed;
    padding: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* Estilização e alinhameno do conteúdo do roapé */
.pRodape{
    text-align: center;
    font-family: 'Righteous', cursive;
}
/* Remove as setas de incremento/decremento nos campos de número  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}